<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple House - About Page</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/all.min.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/templatemo-style.css" rel="stylesheet" />
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body>

    <div class="container">
        <!-- Top box -->
        <!-- Logo & Site Name -->
        <div class="placeholder">
            <div class="parallax-window" data-parallax="scroll" data-image-src="/lib/bootstrap/dist/img/photo/simple-house-01.jpg">
                <div class="tm-header">
                    <div class="row tm-header-inner">
                        <div class="col-md-6 col-12">
                            <img src="/lib/bootstrap/dist/img/photo/simple-house-logo.png" alt="Logo" class="tm-site-logo" />
                            <div class="tm-site-text-box">
                                <h1 class="tm-site-title">Serdivan Restorant</h1>
                                <h6 class="tm-site-description">Ucuza Kalitenin Adresi</h6>
                            </div>
                        </div>
                        <nav class="col-md-6 col-12 tm-nav">
                            <ul class="tm-nav-ul">
                                <li class="tm-nav-ul"><a style="text-decoration: none" asp-area="" asp-controller="Home" asp-action="Index"><span style="color:#ffffff;">ANASAYFA</span> </a>&emsp;</li>
                                <li class="tm-nav-ul"><a style="text-decoration: none" asp-area="" asp-controller="Home" asp-action="About"><span style="color:#ffffff;">HAKKIMIZDA</span> </a>&emsp;</li>
                                <li class="tm-nav-ul"><a style="text-decoration: none" asp-area="" asp-controller="Home" asp-action="Contact"><span style="color:#ffffff;">İLETİŞİM</span> </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <main>
           <br /><br />
            </header>

            <div class="tm-container-inner tm-persons">
                <div class="row">
                    <article class="col-lg-6">
                        <figure class="tm-person">
                            <img src="/lib/bootstrap/dist/img/photo/WhatsApp Image 2021-12-26 at 03.29.44.jpeg" alt="Image" class="img-fluid tm-person-img" />
                            <figcaption class="tm-person-description">
                                <h4 class="tm-person-name">Furkan KARAMA</h4>
                                <p class="tm-person-title">İşletme Sahibi</p>
                                <p class="tm-person-about">
                                    İnsanlara lezzetli yemekler yedirmek bu işe başlamamda para kazanmaktan çok daha önemliydi.

                                </p>
                                <div>
                                    <a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                                    <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
                                    <a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-6">
                        
                    </article>
                    <article class="col-lg-6">
                        <figure class="tm-person">
                            <img src="/lib/bootstrap/dist/img/photo/pp.jpg" alt="Image" class="img-fluid tm-person-img" />
                            <figcaption class="tm-person-description">
                                <h4 class="tm-person-name">Enes Malik Şenyürek</h4>
                                <p class="tm-person-title">İşletme Sahibi</p>
                                <p class="tm-person-about">
                                    Bu işe başlamamın tek sebebi çok para kazanmak. Bunun için en kalitelisini sunuyorum.
                                </p>
                                <div>
                                    <a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                                    <a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                    
                </div>
            </div>
            <div class="tm-container-inner tm-featured-image">
                <div class="row">
                    <div class="col-12">
                        <div class="placeholder-2">
                            <div class="parallax-window-2" data-parallax="scroll" data-image-src="/lib/bootstrap/dist/img/photo/about-05.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="tm-container-inner tm-history">
                <div class="row">
                    <div class="col-12">
                        <div class="tm-history-inner">
                            <img src="/lib/bootstrap/dist/img/photo/about-06.jpg" alt="Image" class="img-fluid tm-history-img" />
                            <div class="tm-history-text">
                                <h4 class="tm-history-title">Restorantımızın Hikayesi</h4>
                                <p class="tm-mb-p">Sakaryada yaşayan iki öğrencinin uyguna ve lezzetli yemek satmayı planlayarak kurdukları bir restorant.</p>
                                <p>Hatta ilk girişimleri kyk kredileriyle çektikleri parayla seyyar köftecilik yapmaları oldu ve o günlerden bu günlere gelindi.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="tm-footer text-center">
            <p>
                Copyright &copy; 2020 Simple House

                | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a>
            </p>
        </footer>
    </div>
    <script src="/lib/bootstrap/dist/js/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/parallax.min.js"></script>
</body>
</html>